CLIENT_ID=
CLIENT_SECRET=
CLIENT_URL=
FRONTEND=
BASE_URL=

#mongoose connection string
MONGODB_CONNECTION_STRING=

# email
SUPPORT_EMAIL=

## sendgrid key
SENDGRID_API_KEY=


## FACEBOOK AUTH CREDS
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=


# aws creds
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT=
BUCKET_NAME=
FOLDER_NAME=

